:root {
  --font-family-base: "Noto Sans TC";
}

html,body {
  font-family: var(--font-family-base);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.login-form {
  text-align: center;
}

.logo img {
  width: 100%;
  margin-bottom: 50px;
}

.logo h1 {
  font-size: 2em;
  color: #5c80d1;
}

.welcome {
  color: #666;
  font-size: 16px;
  margin-bottom: 50px;
}

.google-login {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login:hover {
  background-color: #3367d6;
}

.login-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* 載入圖示(START) */
.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  color: #3367d6;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* 載入圖示(END) */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  background: #f1f1f1;
  color: #888;
  padding: 10px;
}

/* 响应式设计 */
@media screen and (max-width: 400px) {
  .container {
    padding: 20px;
  }

  .logo img {
    width: 80px;
  }

  .logo h1 {
    font-size: 20px;
  }
}
